name: CI 수행

on:
  pull_request:
    branches:
      - main
      - dev

# repository에 대한 읽기 권한만 부여
permissions:
  contents: read

# 동시성 그룹 설정, 진행 중인 이전 실행 취소 후 새 실행을 시작
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: repository checkout
        uses: actions/checkout@v3

      - name: JDK set up
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: application.properties 설정
        run: |
          touch src/main/resources/application.properties
          echo "${{ secrets.APPLICATION_PROPERTIES }}" > src/main/resources/application.properties

      - name: gradlew 실행 권한 부여
        run: chmod +x gradlew

      - name: gradlew test 통한 정상 실행 확인
        run: ./gradlew test
